[Unit]
Description=GFN IoT Project
After=network.target

[Service]
ExecStart=/path/to/webiste/exe
WorkingDirectory=/path/to/webiste/
Restart=always
User=username

[Install]
WantedBy=multi-user.target
